<div class="well">
<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="input-group">
    <label class="input-group__label"><%= f.label :title %></label>
    <div class="input-group__input l"><%= f.text_field :title %></div>
  </div>
  <div class="input-group">
    <label class="input-group__label"><%= f.label :text %></label>
    <div class="input-group__input l"><%= f.text_area :text %></div>
  </div>
 
  <div class="input-group">
    <!-- padding-left -->
    <div class="input-group__label">&nbsp;</div>
    <%= f.submit "Сохранить", :class => 'btn-green btn-l btn-block' %>
  </div>
 
<% end %>
</div>